   /*START General Rules*/
* {
    margin: 0;
    padding: 0;
  }

a:link,
a:visited {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: 'Rubik', sans-serif;
}
  /* END General Rules*/

  /*START Nuvbar Rules*/

.container-navbar{
  margin: 12px
}

.container-navbar li {
  margin: 0 12px 0 12px;
}

.container-navbar ul {
  display: flex;
  margin-left: 10px;
}

ul li {
  list-style: none;
  float: left;
}

.vocal-search {
  position: absolute;
  right: 0;
  top: 12px;
}

#search{
  padding-right: 54px;
  background-image: url(../img/mic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:  200px 0;
}

#search-block{
  
  height: 50px;
  width: 50px;
  border: 1px solid #000000;

}

  /*END Nuvbar Rules*/


  /* START Main-Container*/

.main-container{
  margin-top: 70px;
  margin-left:177px;
}
.item-container{
    max-width: 1599px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    margin-bottom:30px;

}

.image-info{
    position: absolute;
    max-width: 380px;
    max-height: 200px;
    top: 317px;
    padding-left: 11px;
    background-color: white;
    opacity: 0;
}


.image-info:hover{
  animation: 
  fadeIn 
  500ms 
  ease-out
  forwards;
}

  /* END Main-Container */


  /* START footer */
footer {
    clear: both;
    display: block;
    margin: auto;
}

.footer-blurb{
  text-align: center;
  background-color:#293133;
  width:100%;
  min-height:300px;
}

.logo-footer {
  float: left;
  margin-top: 16px;
  margin-bottom: 12px;
  width: 100%;
}

  /* END footer*/
/* START animazioni*/
@keyframes fadeIn {
  from{
    opacity:0;
  }

  to{
    opacity: 0.77;
  }

}
/* END animazioni*/