
  /*start GENERAL RULES*/

* {  
    margin: 0;
    padding: 0;
}

/*end GENERAL RULES*/

/*start  NAVBAR RULES*/

.container {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    position: relative;
}

#menu li {
    float: left;
}


/*end NAVBAR Rules*/


/* START main-content*/

.item-container{
    max-width: 1599px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px
}

.item{
    margin-bottom:30px;

}

  /* END main-content */

